		
	@font-face {
    font-family:myFirstFont;   
    src:url(fonds/2211.ttf); 

}

		*{
			margin:0;
			padding:0;
			font-family:myFirstFont;

}
		.header {
			width:100%;
	
		}

		.Example{
			width:100%;
	
		}
		/*пример1*/
		.icon {
			width:16.1%;
			height:700px;
			float:left;
			vertical-align: top;
			border: 2px solid #e0e0e0;
			opacity: 0.7;
			margin-left:0.2%;
			overflow: hidden;
		}

		.icon img{
		height:700px;
		margin-left:-110%;

		}
		/*пример2*/
			.increase{
			width:120px;
			height:200px;
			float:left;
			vertical-align: top;
			background-size:100% 100%; 
	

			}
			.increase img{
			height: 200px;
		
			

		}

		/*пример3*/
		.maingalary{
		width: 60%;
		height: 700px;
		margin: 0 auto;
		position: relative;

		}



	.galary{
		height: 100%;
		position: absolute;
		left: 0;
		display: none;
		
}
	.galary img{
		height:100%;
		width:100%; 
	
		
}
